img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
    place-items: center;
}

button {
    max-height: 100px;
    max-width: 100px;
}